<mat-toolbar color="primary" class="mat-elevation-z6 sticky-header">
  <mat-toolbar-row>
    <h1>Planner</h1>
    <button color="primary" mat-flat-button (click)="previousSchedule()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button color="primary" mat-flat-button (click)="nextSchedule()">
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button color="primary" mat-flat-button (click)="gotoToday()">Today <mat-icon>today</mat-icon></button>
    <h1 style="margin-left: 30px">
      <ng-container *ngIf="scheduleType === ScheduleType.AGENDA; then agendaLabel else defaultLabel"></ng-container>
      <ng-template #agendaLabel>
        {{scheduleService.visibleDates.value[0] | date: 'dd MMM yyyy'}} -
        {{scheduleService.visibleDates.value[scheduleService.visibleDates.value.length - 1] | date: 'dd MMM yyyy'}}
      </ng-template>
      <ng-template #defaultLabel>
        {{scheduleService.selectedDate.value | date: 'MMMM yyyy'}}
      </ng-template>
    </h1>
    <div class="spacer"></div>
    <ng-container *ngIf="scheduleType === ScheduleType.AGENDA; then monthlyButton else agendaButton"></ng-container>
    <ng-template #monthlyButton>
      <button color="primary" mat-flat-button (click)="setScheduleType(ScheduleType.MONTHLY)"> Monthly View  <mat-icon>calendar_today</mat-icon></button>
    </ng-template>
    <ng-template #agendaButton>
      <button color="primary" mat-flat-button (click)="setScheduleType(ScheduleType.AGENDA)">Agenda View  <mat-icon>view_agenda</mat-icon></button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<div class="schedule-container">
  <router-outlet></router-outlet>
</div>
