@import 'variable';
.agenda-container {
  // width:90vw;
}

.agenda-date {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: mat-color($primary, 100);
  padding: 15px;
  font-weight: bold;
}

.agenda-today {
  color: mat-color($primary);
}
.agenda-events {
  font-weight: normal;
}

.agenda-date button {
  margin-right: 30px;
}

.agenda-event {
  border-radius: 4px;
  padding: 3px;
}

.agenda-event-type-normal {
  background-color: mat-color($primary, 100);
}

.agenda-event-type-all-day-event {
  background-color: mat-color($accent, 100);
}

.agenda-event-type-current-time {
  border-color: red;
  background-color: red;
  height: 1px;
  color: red;
  font-size: x-small;
}

.agenda-event-type-current-time-circle {
  border-radius: 50%;
  border-color: red;
  background-color: red;
  height: 4px;
  color: red;
  font-size: x-small;
}

.agenda-events {
}

.agenda-current-time {
  position: relative;
}
