<div class="agenda-container" fxLayout="column" fxLayoutGap="1px" fxLayoutAlign="start none">
  <ng-container *ngFor="let row of grid.rows">
    <div *ngFor="let cell of row" fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start center" class="agenda-date">
      <div>
        <button mat-mini-fab [color]="scheduleService.areDatesEqual(cell.calendarDate, today) ? 'primary' : ''">{{cell.calendarDate | date: 'dd'}}</button>
        <span [ngClass]="{ 'agenda-today': scheduleService.areDatesEqual(cell.calendarDate, today)}">{{cell.calendarDate | date: 'MMM, E' | uppercase}}</span>
      </div>
      <div class="agenda-events">
        <ng-container *ngIf="!cell.events || cell.events.length === 0; then defaultEvents else hasEvents"></ng-container>
        <ng-template #hasEvents>
          <div fxLayout="column" fxLayoutAlign="center none">
            <div *ngFor="let event of cell.events" fxLayout="row" fxLayoutAlign="start-center" fxLayoutGap="5px">
              <div>{{event.startDate | date: 'hh:mm' | uppercase}} - {{event.endDate | date: 'hh:mma' | uppercase}}</div>
              <div>{{event.name}}</div>
            </div>
          </div>
        </ng-template>
        <ng-template #defaultEvents>
          No Events
        </ng-template>
      </div>
    </div>
  </ng-container>
</div>
